@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Removendo as barras de rolagem */
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login, .right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #363636;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
}

.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #494949;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    outline: none;
    box-sizing: border-box;
}

.text-field > label {
    color: #ffffff;
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    color: #b3b3b3;
}

.btn-login, .btn-signup {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700; 
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
}

.btn-login {
    color: #ffffff;
    background: #00b894;
    box-shadow: 0px 10px 40px rgba(0, 184, 148, 0.5);
}

.btn-signup {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00b894;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: #ffffff;
    color: #363636;
    border-color: #363636;
}

.forgot-password, .signup-link {
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
    text-align: right; 
    cursor: pointer;
}

.forgot-password:hover, .signup-link:hover {
    text-decoration: underline;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}


.toggle-password.active {
    color: #00b894;
}


.password-field {
    position: relative;
}

.password-field input {
    width: 100%;
    padding-right: 30px; 
}
